services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
    ports:
      - "5174:5173"

  backend:
    build: ./backend
    volumes:
      - ./backend:/var/www/html
    ports:
      - "8080:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.4
    platform: linux/x86_64
    environment:
      MYSQL_DATABASE: todo_db
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
